html {
  font-size: 24px;
  color: #333;
}
.fibonacci-ui input {
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    color: black;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 25px;
    height: 50px;
    width: 400px;
    padding: 0 10px;

}
.fibonacci-ui button {
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    color: black;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 20px;
    height: 50px;
    padding: 0;
    width: 80px;
}